#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    chosen { zmk,matrix-transform = &imprint_function_row_full_bottom_row; };

    behaviors {
        td_f1211: tap_dance_f12_f11 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_F12_F11";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp F12>, <&kp F11>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_left_click {
            bindings = <&mkp LCLK>;
            key-positions = <42 43>;

            /* layers = <3>; */
        };

        combo_right_click {
            bindings = <&mkp RCLK>;
            key-positions = <54 55>;

            /* layers = <3>; */
        };

        combo_middle_click {
            bindings = <&mkp MCLK>;
            key-positions = <31 30>;

            /* layers = <3>; */
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC    &kp F1     &kp F2    &kp F3          &kp F4           &kp F5                &kp F6         &kp F7         &kp F8          &kp F9    &kp F10   &td_f1211
&kp EQUAL  &kp N1     &kp N2    &kp N3          &kp N4           &kp N5                &kp N6         &kp N7         &kp N8          &kp N9    &kp N0    &kp MINUS
&kp INS    &kp Q      &kp W     &kp E           &kp R            &kp T                 &kp Y          &kp U          &kp I           &kp O     &kp P     &mo 1
&mo 1      &kp A      &kp S     &kp D           &kp F            &kp G                 &kp H          &kp J          &kp K           &kp L     &kp SEMI  &kp SQT
&kp LSHFT  &kp Z      &kp X     &kp C           &kp V            &kp B                 &kp N          &kp M          &kp COMMA       &kp DOT   &kp FSLH  &kp RALT
&mo 2      &kp GRAVE  &kp BSLH  &kp LEFT_ARROW  &kp RIGHT_ARROW                                       &kp UP_ARROW   &kp DOWN_ARROW  &kp LBKT  &kp RBKT  &trans
                                                &kp LSHFT        &kp LALT  &kp TAB     &kp PAGE_UP    &kp RCTRL      &kp RGUI
                                                &kp ENTER        &kp DEL   &kp HOME    &kp PAGE_DOWN  &kp BACKSPACE  &kp SPACE
            >;

            label = "Default";
        };

        Numpad_Media_Layer {
            bindings = <
&none  &none  &none  &none  &none          &none              &kp C_PREV  &kp C_PLAY_PAUSE  &kp C_NEXT       &kp K_MUTE       &kp C_VOLUME_DOWN  &kp C_VOLUME_UP
&none  &none  &none  &none  &none          &none              &none       &none             &none            &none            &none              &none
&none  &none  &none  &none  &none          &none              &none       &kp KP_NUMBER_7   &kp KP_NUMBER_8  &kp KP_NUMBER_9  &none              &none
&none  &none  &none  &none  &none          &none              &none       &kp KP_NUMBER_4   &kp KP_NUMBER_5  &kp KP_NUMBER_6  &none              &none
&none  &none  &none  &none  &none          &none              &none       &kp KP_NUMBER_1   &kp KP_NUMBER_2  &kp KP_NUMBER_3  &none              &none
&none  &none  &none  &none  &none                                         &none             &kp KP_NUMBER_0  &none            &none              &none
                            &kp PAGE_UP    &trans  &trans     &trans      &trans            &trans
                            &kp PAGE_DOWN  &trans  &kp END    &trans      &trans            &trans
            >;

            label = "Numpad / Media";
        };

        Keyboard_Control_Layer {
            bindings = <
&trans      &trans        &trans          &trans        &trans        &trans                  &trans           &trans           &trans           &trans           &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4            &trans           &rgb_ug RGB_TOG  &rgb_ug RGB_EFF  &trans           &trans                &trans
&trans      &sys_reset    &trans          &trans        &trans        &trans                  &rgb_ug RGB_TOG  &rgb_ug RGB_HUI  &rgb_ug RGB_SAI  &rgb_ug RGB_BRI  &rgb_ug RGB_SPI       &sys_reset
&trans      &bootloader   &studio_unlock  &trans        &trans        &trans                  &trans           &rgb_ug RGB_HUD  &rgb_ug RGB_SAD  &rgb_ug RGB_BRD  &rgb_ug RGB_SPD       &bootloader
&trans      &trans        &trans          &trans        &trans        &trans                  &trans           &trans           &trans           &trans           &trans                &trans
&trans      &trans        &trans          &trans        &trans                                                 &trans           &trans           &trans           &trans                &tog 4
                                                        &trans        &trans        &trans    &trans           &trans           &trans
                                                        &trans        &trans        &trans    &trans           &trans           &trans
            >;

            label = "KBD Controll";
        };

        Auto_Mouse_Layer {
            bindings = <
&trans  &trans  &trans     &trans     &trans     &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &mkp RCLK  &mkp MCLK  &mkp LCLK  &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans     &trans     &trans                               &trans  &trans  &trans  &trans  &trans
                                      &trans     &trans  &trans    &trans  &trans  &trans
                                      &trans     &trans  &trans    &trans  &trans  &trans
            >;

            label = "Auto Mouse";
        };

        Gaming_layer {
            bindings = <
&trans  &trans     &trans  &trans   &trans     &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &none      &kp N1  &kp N2   &kp N3     &kp N4            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &none      &kp Q   &kp W    &kp E      &kp R             &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LCTRL  &kp A   &kp S    &kp D      &kp F             &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LALT   &kp Z   &kp X    &kp C      &kp V             &trans  &trans  &trans  &trans  &trans  &trans
&trans  &none      &none   &kp TAB  &kp SPACE                            &trans  &trans  &trans  &trans  &trans
                                    &trans     &trans  &trans    &trans  &trans  &trans
                                    &trans     &trans  &trans    &trans  &trans  &trans
            >;

            label = "Gaming";
        };
    };
};


// right hand trackball configuration
&trackball_peripheral_listener {
    input-processors =
        // activate layer 3 within 666ms of the trackball moving
        <&zip_temp_layer 3 666>;
};


//left hand trackball configuration
&trackball_central_listener {
    input-processors =
        /* multiply sensitivity by 1, divide by 16 (make it slower for scrolling) */
        <&zip_xy_scaler 1 16>,
        /* make this trackball output scrolling events by default instead of cursor movement */
        <&zip_xy_to_scroll_mapper>,
        /* invert side scrolling */
        <&zip_scroll_transform INPUT_TRANSFORM_X_INVERT>;
        /* <&zip_scroll_transform INPUT_TRANSFORM_Y_INVERT>; */
};
